*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.square {
    width: 100px;
    height: 100px;
    position: absolute;
    animation-name: rotateScale;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rotateScale {
    0%, 100% {
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: violet;
    }
    50% {
        border-radius: 0%;
        height: 150px;
        width: 150px;
        transform: rotate(180deg);
        background-color: lime;
    }
}