*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    animation-name: bounce ;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
}

@keyframes bounce {
    0%{
        width:80px;
        height: 110px;
        transform: translateY(-400px);
    }
    40%{
        width:130px;
        height:80px;
        transform: translateY(0px);
    }
    100%{
        width:80px;
        height: 110px;
        transform: translateY(-400px);
    }
}