*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, red, blue, purple, orange);
    background-size: 300% 300%;
    animation-name: gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}