*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.fade-text {
    color: aqua;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 250px;
    opacity: 0;
    animation: fade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}